
<% layout("/layouts/boilerplate") -%>

<div class="row mt-3 ">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%=listing.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3 ">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="valid-feedback">Title looks good!
        </div>
      </div>


      <div class="mb-3 ">
        <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" class="form-control"> <%= listing.description %> </textarea>
        <div class="invalid-feedback">Please enter a short description </div>
      </div>

<!--  
      <div class="mb-3 ">
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]" class="form-control" value="<%= listing.image %>" type="text" required/>
         <!--  uper wala main hai niche me edit kiya hu -->
        <!-- <input name="listing[image]" class="form-control" value="<%= listing.image || "https://images.unsplash.com/photo-1630756315571-722a6217788b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" %>" type="text" required/> -->
      <!-- </div> -->


      <!-- show original img before edit for owner  -->
      
       <div class="mb-3">
        Original Listing Image<br>
        <img src="<%= originalImageUrl %>" height="150" />
       </div>

      <!-- for taking files in input  -->
      <div class="mb-3 ">
        <label for="image" class="form-label">Upload new Image</label>
        <input name="listing[image]" class="form-control" type="file" required/>
      </div>
  
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">price</label>
          <input name="listing[price]"class="form-control" value="<%= listing.price %>" type="number" required/>
          <div class="invalid-feedback">Price should be valid </div>
        </div>


        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">country</label>
          <input name="listing[country]" class="form-control" value="<%= listing.country %>" type="text" required/>
          <div class="invalid-feedback">Country name should be valid </div>
        </div>
      </div>
      
      <div class="mb-3 ">
        <label for="location" class="form-label">location</label>
        <input name="listing[location]" class="form-control" value="<%= listing.location %>" type="text" required/>
        <div class="invalid-feedback">Location should be valid </div>
      </div>

      <button class="btn btn-dark add-btn mt-3 mb-5 ">Edit</button>
    </form>
  </div>
</div>


